<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secuxtech.mysecuxpay">

    <!--
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Activity.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.UserInfoActivity" />
        </activity>


        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ReceiptActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity android:name=".Activity.UserInfoActivity" />
        <activity android:name=".Activity.PaymentMainActivity" />
        <activity android:name=".Activity.ScanQRCodeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity android:name=".Activity.TokenTransferDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentHistoryActivity" />
        </activity>
        <activity android:name=".Activity.TokenTransHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.CoinAccountListActivity" />
        </activity>
        <activity android:name=".Activity.CoinAccountListActivity" />
        <activity android:name=".Activity.LoginActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.PaymentHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity android:name=".Activity.PaymentResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity android:name=".Activity.PaymentDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />


    </application>

</manifest>